.primero {
	background: url(
		"../img/captura_de_pantalla_(22).png")
}
.primero {
	font-family: sans-serif;}


	.titulo {
		color: beige;
		text-align: center;
		margin-top: 3cm;
		font-size: 70px;
		font-family: sans-serif;
		font: bold 80px;
		text-transform: uppercase;
		color: white;
		text-shadow: 0 12px 0 #41330a;
	}